<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Restoo - C'est par où le resto ?</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Restoo - C'est par où le resto ?">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
</head>
<body ng-app="starterApp" layout="row" ng-controller="LayoutController as layoutCtrl">

    <!-- Menu -->
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')">

        <md-toolbar class="md-whiteframe-z1">
            <h1>Menu</h1>
        </md-toolbar>

        <md-list>
            <md-list-item>
                <md-button ng-click="layoutCtrl.selectCategory('propositions')" ng-class="{'selected' : 'propositions' === layoutCtrl.selectedCategory }">
                    Les propositions
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button ng-click="layoutCtrl.selectCategory('restaurants')" ng-class="{'selected' : 'restaurants' === layoutCtrl.selectedCategory }">
                    Les restaurants
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button ng-click="layoutCtrl.selectCategory('users')" ng-class="{'selected' : 'users' === layoutCtrl.selectedCategory }">
                    Les users
                </md-button>
            </md-list-item>
        </md-list>

    </md-sidenav>

    <!-- Reste de la page -->
    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

        <!-- Bandeau de titre -->
        <md-toolbar layout="row" class="md-whiteframe-z1">
            <md-button class="menu" hide-gt-sm ng-click="layoutCtrl.toggleCategoriesList()" aria-label="Show User List">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <h1>Angular Material - Starter App</h1>
        </md-toolbar>

        <!-- Contenu principal -->
        <div ng-controller="UserController as ul">
            <md-content flex id="content">

                <!-- Liste des utilisateurs -->
                <md-list>
                    <md-list-item ng-repeat="it in ul.users">
                        <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
                            <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
                            {{it.firstName}} {{it.lastName}}
                        </md-button>
                    </md-list-item>
                </md-list>

                <md-divider></md-divider>

                <!-- Détails d'un utilisateur -->
                <div layout="column">
                    <md-content layout-padding layout-sm="column">
                        <form name="userForm">

                            <md-input-container layout layout-sm="column" flex>
                                <h2>Informations personnelles</h2>
                            </md-input-container>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                                    <label>Id</label>
                                    <input ng-model="ul.selectedUser.id" disabled>
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                                    <label>Prénom</label>
                                    <input ng-model="ul.selectedUser.firstName">
                                </md-input-container>
                                <md-input-container flex>
                                    <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                                    <label>Nom</label>
                                    <input ng-model="ul.selectedUser.lastName">
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                                    <label>Adresse e-mail</label>
                                    <input ng-model="ul.selectedUser.email" type="email">
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                                    <label>Date de naissance</label>
                                    <input ng-model="ul.selectedUser.birthday" type="date">
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                                    <label>A propos de moi</label>
                                    <textarea ng-model="ul.selectedUser.aboutMe" columns="1" md-maxlength="200"></textarea>
                                </md-input-container>
                            </div>

                            <md-input-container layout layout-sm="column" flex>
                                <h2>Statistiques</h2>
                            </md-input-container>
                            <md-input-container layout layout-sm="column" flex>
                                <label>Nombre de restaurants ajoutés</label>
                                <input ng-model="ul.selectedUser.nbRestaurants">
                            </md-input-container>
                            <md-input-container layout layout-sm="column" flex>
                                <label>Nombre d'avis donnés</label>
                                <input ng-model="ul.selectedUser.nbAvis">
                            </md-input-container>
                        </form>
                    </md-content>
                </div>

            </md-content>
        </div>

    </div>
<script src="./bower_components/angular/angular.js"></script>
<script src="./bower_components/angular-animate/angular-animate.js"></script>
<script src="./bower_components/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

<script src="./src/layout/Layout.js"></script>
<script src="./src/layout/LayoutController.js"></script>

<script src="./src/users/Users.js"></script>
<script src="./src/users/UserController.js"></script>
<script src="./src/users/UserService.js"></script>

<script type="text/javascript">

    angular
            .module('starterApp', ['ngMaterial', 'layout', 'users'])
            .config(function ($mdThemingProvider, $mdIconProvider) {

                $mdIconProvider
                        .defaultIconSet("./assets/svg/avatars.svg", 128)
                        .icon("menu", "./assets/svg/menu.svg", 24)
                        .icon("share", "./assets/svg/share.svg", 24)
                        .icon("google_plus", "./assets/svg/google_plus.svg", 512)
                        .icon("hangouts", "./assets/svg/hangouts.svg", 512)
                        .icon("twitter", "./assets/svg/twitter.svg", 512)
                        .icon("phone", "./assets/svg/phone.svg", 512);

                $mdThemingProvider.theme('default')
                        .primaryPalette('deep-orange')
                        .accentPalette('blue');

            });

</script>

</body>
</html>
